section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.headerContainer{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #132B4F; /*#262626;*/
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px 0px black;
    z-index: 99;
}

.navbar__ul{
   margin-right: 5em;
}

.navbar-ul__li{
    display: inline-block;
    margin: 15px;
}

.navbar-ul-li__a{
    text-decoration: none;
    color: white;
    font-size: 1.20em;
}


.sobremiContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sobremi__desc{
    width: 700px;
}

.sobremi__desc > h1 {
    font-size: 2em;
}
.sobremi__desc > p {
    margin-bottom: 6px;
    font-size: 1.15em;
    font-weight:500;
}

.sobremi-img{
    width: 400px;
    height: 450px;
    border-radius: 100%;
}

.projectosContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.projectos__titulo{
    text-align: center;
    font-size: 2.5em;
}

.projectos__flex{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectos-flex__img{
    height: 150px;
    width: 300px;
}

.projectos-flex__desc{
    text-align: center;
}


.contactoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contacto__titulo{
    font-size: 3em;
}

.contacto__iconos > h3 {
    margin-top: 15px;
}

.contacto__iconos > ul {
    margin: 27px auto;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 150px 150px 150px;
}


.contacto__iconos > ul > li {
    list-style: none;
}

.contacto__iconos > ul > li > a {
    text-decoration: none;
    color: black;
}

.contacto__iconos > ul > li > a > i {
    font-size: 3em;
}

.contactoEmail{
    height: 400px;
}

.contactoEmail > form {
    display: flex;
    flex-direction: column;

}

.contactoEmail > form > input, textarea {
    margin-top: 20px;
    width: 400px;
}

.contactoEmail > form > button{

    text-align: center;
    width: 100px;
    height: 30px;
    margin: 10px auto;
}